

header {
    color: #fff;
    height: 112px ;
    line-height: 112px;

    position: fixed;
    width: 100%;
    z-index: 2;

    
}

header nav {
    font-weight: bold;
}
header a.logo {
    float: left;
}

header nav ul li {
    padding-left: 30px;
}

header nav ul  li a{
    color: #fff;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in
}

header nav ul li a:hover{
    color: #e74c3c;
    text-decoration: none;
}

/***********************************
    slider section
**************************************/

.slider,.slider ul.slider-carousel, .slider ul.slider-carousel li {
    height: 600px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.slider ul.slider-carousel li h1 {
    margin-top: 150px;
    margin-bottom: 30px;
    color: #fff
}

.slider ul.slider-carousel li p {
    margin-bottom: 50px;
}
.slider ul.slider-carousel li a {
    padding: 5px 30px;
    margin-right: 10px;
    color: #fff;
    font-weight: bold;

    transition: all .3s ease-in;
}

.slider .slider-carousel li a.btn1:hover {
     background-color: #ff695a;
     border-radius: 5px;
}

.slider ul.slider-carousel li a.btn2:hover {
     background-color: #3f9cfa;
     border-radius: 5px;
}

.slider ul.slider-carousel li a:last-child{
    margin-right: 0px;
}

.img1 {
    background: url('../img/slider/slider.png') no-repeat center center/cover;
}
.img2 {
    background: url('../img/slider/slider.png') no-repeat center center/cover;
}
.img3 {
    background: url('../img/slider/slider.png') no-repeat center center/cover;
}

.slider ul.sliderpager li {
    padding: 0 3px;
    height: 28px;
    line-height: 28px;
}
.slider ul.sliderpager li a {
    color: #34495e;
}

.slider ul.sliderpager li.selected a {
    color: #e74c3c;
}


/* Services section */

.services {
    text-align: center;
}

.services .service-content i {
    font-size: 32px;
    color: #555;
}

.services-header,
.portfolio-header,
.team-header,
.testimonial-header,
.blog-header,
.contact-header
{
    margin-bottom: 42px;
    text-align: center;
}
.services .service-content h3 {
    font-size: 1.5rem;
}

/* Portfolio section */

.portfolio {
    color: #fff;
    background: url('../img/our_work/workbg.png') no-repeat center center/cover;
}


.portfolio .inner-content {
    position: relative;
    width: 265px;
    height: 265px;
}

.portfolio .inner-content img {
    width: 100%;
    height: 100%;
}

.portfolio .inner-content .overlay-content {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    background: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;


    transition: all .3s ;
}


.portfolio .inner-content .overlay-content h3,.portfolio .inner-content .overlay-content p
{
	color: white;
}


.portfolio .inner-content .overlay-content h3 {
    padding-top: 20%;
    color: #e74c3c;
}

.portfolio .inner-content:hover .overlay-content {
    top: 0;
}

.portfolio .inner-content .overlay-content p a {
    color: #2d82d8;
    font-weight: bold;
}

.portfolio-nav {
    text-align: center;
    margin-top: 30px;
}

.portfolio-nav li {
    cursor: pointer;
    margin-right: 10px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
}

.portfolio .portfolio-nav li:last-child{
    margin-right: 0px;
}

.portfolio .portfolio-nav li:hover {
    background-color: #e74c3c;
}

/*** Team Section ****/


.team .inner-content {
    position: relative;
    width: 265px;
    height: 265px;
}

.team .inner-content img {
    width: 100%;
    height: 100%;
}

.team .inner-content .overlay-content {
    position: absolute;
    top: 100%;
    left: 0px;
    text-align: center;
    background: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;

    transition: all .3s ;
}

/* .team-carousel li {
    margin-right: 10px;
    margin-left: 10px;
} */

.team .inner-content:hover .overlay-content {
    top: 0;
}

.team .team-nav li {
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
}

.team .team-nav li:last-child {
    margin-right: 0px;
}

.team .team-nav li:hover {
    background-color: #e74c3c;
}

.team-carousel .inner-content p.name {
    padding-top: 15%;
}

.team-carousel .inner-content p.description {
    padding: 0 15px;
}

ul.member-social-links li {
    font-size: 14px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
}

ul.member-social-links li:last-child{
    margin-right: 0px; 
}

ul.member-social-links li a {
    color: #fff;
}

ul.member-social-links li i {
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
}

ul.member-social-links li i.fa-facebook
{
	background-color: #3b5998;
}

ul.member-social-links li i.fa-twitter
{
	background-color: #00aced;
}

ul.member-social-links li i.fa-linkedin
{
	background-color: #007bb6;
}


/* Testimonials Section */

.testimonials {
    background: url('../img/client_Testimonial/testbg.png') no-repeat center center/cover;
}

.testimonials-carousel li {
    text-align: center;
    margin: 0 200px;
}

blockquote {
    position: relative;
    border: none;
    line-height: 1.5rem;
    
    color: #fff;

    padding: 0;
    width: 80%;
}

blockquote:before {
    position: absolute;
    content: "\f10d";
    top: -3px;
    left: -3px;
    font-family: FontAwesome;
}

blockquote:after
{
	position: absolute;
	content: "\f10e";
	bottom:-5px;
	right: -2px;
	font-family: FontAwesome;
}

.testimonial-carousel li img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.testimonial-carousel li p.name {
    color: #e74c3c;
    font-weight: bold;
}

.testimonial-carousel li p.position {
    margin-bottom: 30px;
    font-weight: bold;
}

.testipager  li {
    margin-right: 5px;
}

.testipager li:last-child {
    margin-right: 0px;

}

.testipager li a {
    color: #fff;
}

.testipager li.selected a {
    color: #e74c3c;
}


/*** Blog Sections ***/

.blog b.date {
    color: #333;
}

.blog h3 a {
    transition: all .3s ease-in;
}

.blog h3 a:hover {
    color: #e74c3c;
}


/*** Contact Secttion  ***/

.contact {
    background: url('../img/contact-bg.png') no-repeat center center/cover;
}



/* Footer Section */


footer h1 {
    padding-bottom: 28px;

}

footer p i {
    color: #2d82d8;
}

footer p span {
    padding-left: 15px;
    font-weight: bold;
}

footer p.about {
    margin-bottom: 20px;
}


.update-form input[type=email]{
    border: 1px solid #ddd !important;
    padding: 1.2rem 1rem;
}

.update-form input[type=email]:focus {
    box-shadow: none;
}
.footer-social-links li {
    padding: 0 10px;
    font-size: 28px;
}


.footer-social-links li a i.fa-facebook
{
	color: #3b5998;
}

.footer-social-links li a i.fa-twitter
{
	color: #00aced;
}

.footer-social-links li a i.fa-youtube
{
	color:  #bb0000;
}

.footer-social-links li a i.fa-linkedin
{
	color: #007bb5;
}

.footer-social-links li a i.fa-dribbble
{
	color: #ea4c89;
}


.copyright {
    color: #fff;
    background-color: #333;
    height: 42px;
    line-height: 42px;
    margin-top: 56px;
     
}

.copyright p {
    margin: 0;
}





















